.shopcart .box > .heading {
    background: none repeat scroll 0 0 white;
    height: 54px;
}
.shopcart .content, .shopcart table.form > tbody > tr > td {
    font-family: trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    color: #4a4a4a;
}
.shopcart input, .shopcart select {
    padding: 5px;
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    color: #4a4a4a;
}
.shopcart table.form > tbody > tr > td:first-child {
    width: 32%;
}
.shopcart table.form > tbody > tr:hover {
    background: #fff7fa;
}