.fan_box .full_widget, .fan_box .full_widget .connect_top {
background-color: transparent !important;
}
.fan_box .connections {

border-top: 0 none !important;

}
.fan_box .full_widget {

border: 0 none !important;

}

.fan_box .connect_top, .fan_box .connections {

padding: 0 !important;
}
.fan_box .connections_grid .grid_item {
padding: 0 15px 7px 0 !important;
}